.text-type-1 {
  @include responsive-property('font-size', (md: 30px, sm: 27px, xs: 23px));

  font-family: $font-roboto-regular;
}

.text-type-2 {
  @include responsive-property('font-size', (xs: 22px));

  font-family: $font-roboto-medium;
}

.text-type-3 {
  @include responsive-property('font-size', (xs: 15px));
  font-family: $font-roboto-light;
  text-align: justify;
}

.text-type-4 {
  @include responsive-property('font-size', (xs: 12px));
  font-family: $font-roboto-light;
}

.text-md-center {
  @media (max-width: $screen-md-max) {
    text-align: center;
  }
}

.text-sm-center {
  @media (max-width: $screen-sm-max) {
    text-align: center;
  }
}

.text-xs-center {
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}