body, html {
  font-family: 'Roboto-Medium', sans-serif;
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push,.footer {
  height: 60px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6, {
  margin: 0;
}

.eq-height.row{
  [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  overflow: hidden;
}

.nosize.textarea {
  resize: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
}
